extends ./layout

block contenido
    .container
        #main
            .row
                section
                    header
                        +crearArticulo(proyecto)
                        if(titulo)
                            h2 #{articulo.titulo}
                            span.byline #{articulo.fecha}
                            a.button(href=`/articulos/${articulos.url}`) Modificar
                            a.button(href=`/articulos/${articulos.url}`) Eliminar
                            p #{articulo.contenido}
